div.footer
{
	z-index: 999;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	margin-right: 0px !important;

	text-align:center;
	
	position:absolute;
	left: 0px;
	right: 0px;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width:100%;
    background-color: #3a3535;
	color: #8c604c;
	cursor: default;
}

.footer_text
{
	margin-top: 15px;
	margin-bottom: 15px;
}

a.footer_item
{
	text-decoration:none;
	display:inline-block;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top:0px;
	margin-bottom:15px;
	font-size: 100%;
	color:#A8A8A8 !important;
}

a.footer_item:hover
{
	color:white !important;
}
